body{
    background-color: #8DDFCB;
}
#gameContainer {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 1px;
}
.container-style{
    /*display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end; */
    padding: 0;
    margin: 0;
    width: 400px;
}
.item{
    border: 1px #DBA39A solid;
    width:70px;
    height: 50px;
}
#cool{
    height: 40px;
    width: 70px;
    background-color: rgb(234, 122, 244);
    border-radius: 5px;
}