@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
    background-color: #8DDFCB;
    font-family: 'Playwrite CU', Arial, sans-serif;
}
#gameContainer {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 1px;
}
.container-style{
    display: flex;
    /*flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end; */
    padding: 0;
    margin: 0;
    width: 400px;
}
.item{
    border: 1px #DBA39A solid;
    width:70px;
    height: 50px;
}
#cool{
    height: 40px;
    width: 70px;
    background-color: rgb(234, 122, 244);
    border-radius: 5px;
}
#play_btn{
    border: 1px solid pink ;
    background-color: pink;
    border-radius: 29px;
    font-size: 70px;
    text-decoration: none;
}
#go{
    border: 1px solid pink ;
    background-color: pink;
    border-radius: 8px;
    font-size: 20px;
    text-decoration: none;
}
input{
    border: 1px solid pink ;
    border-radius: 30px;
    height: 30px;
}
#cool{
    border: 1px solid pink ;
    background-color: pink;
    border-radius: 10px;
    text-decoration: none;
}
@media   only screen and (max-width: 600px) {
    
    
}